{% load static %}

<!DOCTYPE html>
<html lang="en">
<body style="background-color:antiquewhite;">
<link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>

<div class = "updateformstyle">
<form action="updaterecord/{{ user.id }}" method="POST">
    {% csrf_token %}
    Username: <br>
    <input name="email" value="{{ user.email }}">
    <br><br>

    First Name:
    <br>
    <input name="first_name" value="{{ user.first_name }}">
    <br><br>

    Middle Name:
    <br>
    <input name="middle_name" value="{{ user.middle_name }}">
    <br><br>

    Last Name:
    <br>
    <input name="last_name" value="{{ user.last_name }}">
    <br><br>

    First Name:
    <br>
    <input name="first_name" value="{{ user.first_name }}">
    <br><br>

    Gender:
    <br>
    <input name="gender" value="{{ user.gender }}">
    <br><br>

    Nationality:
    <br>
    <input name="nationality" value="{{ user.nationality }}">
    <br><br>

    Date of Birth:
    <br>
    <input name="birth_date" value="{{ user.birth_date }}">
    <br><br>

    Address:
    <br>
    <input name="nationality" value="{{ user.Address }}">
    <br><br>

    Mobile Number:
    <br>
    <input name="mobile_number" value="{{ user.mobile_number }}">
    <br><br>


    <input type="submit" value="Submit">
</form>
</div>
</body>
</html>

